{% extends 'core/base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'core/CSS/reserva.css' %}">
{% endblock style %}
{% block content %}

    <div id="calendar"></div>
    <div class="text-center">
        <input type="submit" class="btn btn-primary ancho-150px" value="agendar"></button></div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
{% endblock content %}
{% block script %}
<script src="{% static 'core/js/reserva.js' %}"></script>
{% endblock script%}