#name{
    background-color: rgba(0, 0, 0, 0.482);
    color: white;
}
/* hovers */
a:hover{
    text-shadow:  0 0 5px #fff,
    0 0 10px #fff, 0 0 15px #00ff4448,
    0 0 20px  #00ff4448, 0 0 25px #00ff4448, 
    0 0 30px #00ff4448;
}

#name1{
    background-color: rgba(0, 0, 0, 0.482);
    color: white;
    border-radius: 30px;
    padding-bottom: 3%;
    
}


#stylebtn{
    margin-inline-start: 15%;
}

.stylebtn1{
    margin-left: 2%;
    margin: 15px;
    padding: 15px;
    width: 120px;
}


#btnn{
    width: 120px;
    height: 45px;
}
#imgst{
    background-color:  rgba(0, 0, 0, 0.60);
    padding-top: 30px;
    padding-bottom: 30px;
    width: 1500px;
    margin-left: 225px;
    margin-bottom: 30px;
    border-radius: 30px;
}



#imgst1{
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.60);
}
#txt{
    margin-left: 110px;
}
#txt1{
    background-color: rgba(0, 0, 0, 0.532);
    width: 1380px;
    margin-left: 255px;
    padding-bottom: 5%;
}


.bodystyle1::before {
    content: "";
    background-image: url("https://p4.wallpaperbetter.com/wallpaper/592/800/875/4k-2018-cars-lamborghini-aventador-s-roadster-luxury-cars-wallpaper-preview.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(8px);
}




.st4{
    background-color: rgba(0, 0, 0, 0.482);
    border-radius: 15px;
    color: white;
    margin-bottom: 30px;
}
.st5{
    padding: 6%;
}
.st6{
    background-color: rgba(0, 0, 0, 0.482);
    color: white;
}




.log{
	border-radius: 30px;
}
.error{
	color: red;
}

/* estilos de los inputs*/
.stcard1{
    padding-top: 50px;
    padding-bottom: 0;
}

.stRegistro{
    padding-left: 100px;
}



.stp{
    padding-left: 100px;
}
.stp1{
    margin-left: 500px;
}




/* estilos de los cards*/
.card{
	box-shadow: 0 0 10px black;
	transition: transform 0.4s ease;

}
.card a {
	display: block;
	color:azure;
	text-transform: none;
	text-decoration: none;
	
}.card img{
	height:170px; 
	width: 16em;
	margin:15px;
}.card:hover {
	box-shadow: 0 0 12px rgb(0, 238, 255);
	transform: translateY(-10px);
}




